@media screen and (max-width: 920px) {
    .wrapper {
        margin:0 2%;
    }
}
@media screen and (max-width: 380px) {
    body{
        font-size:0.8em;
    }
    button{
        font-size:0.8em;
    }
    header button{
        min-height:20px;
        margin-right:5px;
    }
    header input{
        font-size:0.8em;
        max-width:150px;
    }
}
