body {
    margin: 0 auto;
}
header{
    background-color:#f4f4f4;
    height:100px;
    -webkit-box-shadow:0px 1px 2px #808080;
    -moz-box-shadow:0px 1px 2px #808080;
    box-shadow:0px 1px 2px #808080;
}
header button{
    min-height:30px;
    background-color:#0271c7;
    color:white;
    border:1px solid #0271c7;
    border-radius:2px;
    -webkit-box-shadow:0px 1px 1px #808080;
    -moz-box-shadow:0px 1px 1px #808080;
    box-shadow:0px 1px 1px #808080;
    float:left;
    margin-right:10px;
}
section{
    padding:15px 0px;
   /* display:flex;*/
}
.wrapper{
    max-width:900px;
    margin:0 auto;
}
header .wrapper{
    padding-top:50px;
}
header form{
    float:right;
}
button{
    cursor: pointer; 
}
header input[type=submit] {
    background-image: url(img/searchIcon.png); 
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;  
    background-size:contain;
    border: none;           
    cursor: pointer;        
    height: 30px;           
    width: 30px;
    padding-left: 16px;     
    vertical-align: middle; 
}
header input[type=search]{
    width:200px;
    border:1px solid #808080;
    border-radius:2px;
}
#right{
    background-image: url(img/icon-arrow-right-b.png); 
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;  
    background-size:contain;               
    height: 20px;           
    width: 20px;
    padding:10px;   
    vertical-align: middle; 
    border:1px solid  #808080;
    border-radius:2px;
}
#left{
    background-image: url(img/icon-arrow-left-b.png); 
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;  
    background-size:contain;             
    height: 20px;           
    width: 20px;
    padding:10px;     
    vertical-align: middle; 
    border:1px solid  #808080;
    border-radius:2px;
}
#today{
    background-color: transparent;     
    height: 22px;           
    padding:1px 10px;     
    vertical-align: middle; 
    border:1px solid  #808080;
    border-radius:2px;
}
.day{
    max-height:120px;
    width:14%;
    border:1px solid #808080;
    min-height:120px;
    cursor:pointer;
}
.event{
    background:#c2e4fe;
}
.name{
    font-weight:bold;
}
.today{
    background:#f4f4f4;
    font-weight:bolder;
}
.calendar{
    padding:0;
    margin:0;
    color:#808080;
}
table{
    width: 100%;
    border:1px solid  #808080;
    border-radius:2px;
    border-collapse: collapse;
    table-layout:fixed;  
}
td{
    border:1px solid  #808080;
    border-radius:2px;
    height:120px;
    text-align:left;
    vertical-align:top;
   /* width:120px;*/
}
tr{
    height:120px;
}
.formForEvent{
    border:1px solid  #808080;
    -webkit-box-shadow:0px 1px 1px #808080;
    -moz-box-shadow:0px 1px 1px #808080;
    box-shadow:0px 1px 1px #808080;
    border-radius:2px;
    width:250px;
    padding: 10px;
    padding-right:20px; 
    box-sizing: border-box;
    position: absolute;
    display: none;
    background: white;
    
}
.formForEvent button{
    background-color: transparent;     
    height: 22px;           
    padding:1px 10px;     
    vertical-align: middle; 
    border:1px solid  #808080;
    border-radius:2px;
}

.formForEvent input{
    margin-bottom:5px; 
    width: 100%;
}
.formForEvent textarea{
    margin-top: 15px;
    width: 100%;
    margin-bottom: 15px;
    resize: none;
}
.formForEvent::before, .formForEvent::after {
    content: ''; 
    position: absolute;
    left: -20px; top: 20px;
    border: 10px solid transparent;
    border-right: 10px solid #808080;
   }
.formForEvent::after {
    border-right: 10px solid white;
    left: -19px; 
}
   /*.formForEvent::before, .formForEvent::after {
    content: ''; 
    position: absolute;
    left: 20px; bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #808080;
   }
   .formForEvent::after {
    border-top: 10px solid white;
    bottom: -19px; 
   }*/
.shortFormEvent{
    border:1px solid  #808080;
    -webkit-box-shadow:0px 1px 1px #808080;
    -moz-box-shadow:0px 1px 1px #808080;
    box-shadow:0px 1px 1px #808080;
    border-radius:2px;
    width:250px;
    padding: 10px;
    padding-right:20px; 
    box-sizing: border-box;
    position: absolute;
    display: none;
    background: white;
    
}
.shortFormEvent button{
    background-color: transparent;     
    height: 22px;           
    padding:1px 10px;     
    vertical-align: middle; 
    border:1px solid  #808080;
    border-radius:2px;
}
.shortFormEvent input{
    margin-bottom:5px; 
    width: 100%;
}
.shortFormEvent::before, .shortFormEvent::after {
    content: ''; 
    position: absolute;
    left: 20px; top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #808080;
}
.shortFormEvent::after {
    border-bottom: 10px solid white;
    top: -19px; 
}
.formForEditEvent{
    border:1px solid  #808080;
    -webkit-box-shadow:0px 1px 1px #808080;
    -moz-box-shadow:0px 1px 1px #808080;
    box-shadow:0px 1px 1px #808080;
    border-radius:2px;
    width:250px;
    padding: 10px;
    padding-right:20px; 
    box-sizing: border-box;
    position: absolute;
    display: none;
    background: white;
    
}
.formForEditEvent button{
    background-color: transparent;     
    height: 22px;           
    padding:1px 10px;     
    vertical-align: middle; 
    border:1px solid  #808080;
    border-radius:2px;
}
.formForEditEvent textarea{
    margin-top: 15px;
    width: 100%;
    margin-bottom: 15px;
    resize: none;
}
.formForEditEvent::before, .formForEditEvent::after {
    content: ''; 
    position: absolute;
    left: -20px; top: 20px;
    border: 10px solid transparent;
    border-right: 10px solid #808080;
   }
.formForEditEvent::after {
    border-right: 10px solid white;
    left: -19px; 
}
button[name=x]{
    border: none;
    position: absolute;
    top:0;right: 0;
}
.formForEditEvent h3{
    margin-bottom: 5px;
}
.searchForm{
    border:1px solid  #808080;
    -webkit-box-shadow:0px 1px 1px #808080;
    -moz-box-shadow:0px 1px 1px #808080;
    box-shadow:0px 1px 1px #808080;
    border-radius:2px;
    width:200px;
    height:300px;
    overflow:auto;
    box-sizing: border-box;
    position: absolute;
    display: none;
    background: white;   
}
.searchForm::before, .searchForm::after {
    content: ''; 
    position: absolute;
    left: 20px; top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #808080;
}
.searchForm::after {
    border-bottom: 10px solid white ;
    top: -19px; 
}
li{
    list-style:none;
    border-bottom:1px solid #808080;
    width:100%;
}
li:last-of-type{
    border-bottom:none;
}
li:hover{
    background:#c2e4fe;
}
.live-search-list{
    padding:5px;
    margin:0 auto;  
}
/*scroll styling.Work only in chrome*/
::-webkit-scrollbar {
  width: 10px;
  background: none;
}
::-webkit-scrollbar-thumb {
     border: 2px solid gray;
     border-radius: 5px;
     background:gray;
     height:100px;
     margin:0 auto;
}
::-webkit-scrollbar-thumb:hover{
    background:#4b4848;
    border-color:#4b4848;
}



